# Python (компиляция и кэш)
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (добавьте, если папка .venv лежит внутри проекта)
.venv/
.serena/

# Логи и отчеты
docs/
*.log
.playwright-mcp/

# Изображения (ваше правило)
*.png

# Среда разработки PyCharm / IntelliJ IDEA
.idea/
*.suo
*.ntvsca
*.njsproj
*.sln
*.swp

# Специфичные файлы Windows
Thumbs.db
desktop.ini

# Папка с данными (ваше правило)
data/

# AI
AGENTS.md
